/* ====================Header=============================== */

header{
    width: 80%;
}

header  img{
    height: 5rem;
}

.title{
    display: flex;
    align-items: center;
    background-color: var(--marrom);
    padding-left: 5rem;
}

header h1{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    color: var(--claro);
}

header nav{

    background-color: var(--terra);
    height: 5rem;
    padding-left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

nav > a{
    color: var(--marrom_avermelhado);
    font-size: 1.6rem;
}

/* --------------Responsividade 400px-------------------------------- */

@media (max-width: 400px) {
    header{
        width: 100%;
    }

    .title{
        padding-left: 0;
    }

    header nav {
        padding-left: 0;
    }

    nav > a{
        font-size: 1.2rem;
    }
}

/* =====================tablet 1024px=========================================== */

@media (max-width: 1024px) {
    header{
        width: 80%;
    }

    .title{
        padding-left: 0;
    }

    header nav{
        padding-left: 0;
    }

    nav > a{
        font-size: 1.5rem;
    }
}

/* ======================Resolução HD 1440px======================================== */

@media (max-width: 1440px){
    header{
        width: 100%;
    }

    .title{
        padding-left: 5rem;
    }

    header nav{
        padding-left: 5rem;
    }

    nav > a{
        font-size: 2rem;
    }
}
    